<section class="main">
  <img class="about-img" src="https://farm8.staticflickr.com/7322/16257859790_c75db95e89_o.jpg">
<p class="about-info">
Hello my name is Adam and my designer name is 3lfist. While I used to primarily focus on graphic design and illustration, my main focuses now are UX design and web development. I am currently designing and developing my own gamified photo sharing app called 3lf using web technologies like AngularJS, Firebase, Git, Foundation 5, CSS3, HTML5 and SASS. It's currently not deployed but the code can be viewed at Github here:<a target="_blank" href="https://github.com/3lfist/3lf">https://github.com/3lfist/3lf</a>
<p class="about-info">
My design process starts out with me hand drawing mockups of the app. This includes UI, page flow, branding, multiple responsive layouts and many notes on the core functionality and user interaction animations.
</p> 

<p class="about-info">My approach to application UX is holistic. I take into consideration almost every aspect of the product :</p> 
<ul>
  <li>
    &#10036; Branding
  </li>
  <li>
    &#10036; Email Design
  </li>
  <li>
    &#10036; Page Composition
  </li>
  <li>
    &#10036; Core Functionality
  </li>
  <li>
    &#10036; Ease of use
  </li>
  <li>
    &#10036; Responsiveness (RWD)
  </li>
  <li>
    &#10036; Cross Browser Compatibility
  </li>
  <li>
    &#10036; Security
  </li>
    <li>
    &#10036; Page Load Time Optimization
  </li>
</ul>
<p class="about-info">
  I made the first version of this site in 2012 using AngularJS 1.0.6, Susy, Compass, SASS, HTML5 and CSS3. Few things changed but it's basically the same code and design. 
</p>
<p class="version">3lfisticated.ga</p>
<p class="version">version 0.3</p>
<p class="version">&#10036; 2015</p>
<br>
<br>
</section>
