<section class="main">
  <img class="about-img" src="/images/320/cc0b1324.aboutFACE-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/bf2e3b71.aboutFACE-480.jpg' ], [ '(min-width: 660px)', '/images/660/806d6b85.aboutFACE-660.jpg' ], [ '(min-width: 770px)', '/images/770/19100b8f.aboutFACE-770.jpg' ], [ '(min-width: 990px)', '/images/990/41175457.aboutFACE-990.jpg' ] ]">
<p class="about-info">
Hello my name is Adam and my designer name is 3lfist. While I used to primarily focus on graphic design and illustration, my main focuses now are UX design and web development. I am currently designing and developing my own photo sharing app using web technologies like AngularJS, Firebase, Git, Foundation 5, CSS3, HTML5 and SASS.
</p> 

<p class="about-info">My approach to UX is holistic. The experience of the user includes every aspect of the product :</p> 
<ul class="pretty">
  <li class="about-list">
    Branding
  </li>
  <li class="about-list">
    Page Composition
  </li>
  <li class="about-list">
    Functionality
  </li>
  <li class="about-list">
    Security
  </li>
  <li class="about-list">
    Ease of use
  </li>
  <li class="about-list">
    Responsiveness (RWD)
  </li>
</ul>
<p class="about-info">
  
</p>
<p class="version">maxmythic.com</p>
<p class="version">version 0.3</p>
<br>
<br>
</section>
