<section class="main">
  <p class="contact">
  If you have any questions or are interested in working together on your next project, drop me an email and we can talk further. In the meantime here is <a href="https://docs.google.com/document/d/1PE8Fn_DuFh1DvmMHvfUYHki9eSSkOWi36Zs4OKyacv0/edit?usp=sharing" target="_blank">my resume</a>. I look forward to hearing from you :)
  </p>
  <A class="email" target="_blank"HREF="mailto: &#051;&#108;&#102;&#105;&#115;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
&#051;&#108;&#102;&#105;&#115;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
  </A>
</section>
