<section class="main">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/FG-Bar-whiteTable-FULL.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/FG_chocolate_bar-FULL.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/FG_bar_yellow_toy.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/KidSister2013-ruff.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/render-group.jpg">

  <h2 class="design-title">Fool's Gold Product Concept</h2>
  <h2 class="client">Fool's Gold Records</h2>
  <h2 class="year">2013</h2>
  <br>
 
  <p>
  Limited edition product concept images for Fool's Gold Records. Google doc detailing the concept products has been sent to Alain and Nick for review. 
  </p>
  <ul>
    <li>Real Gold Bar</li>
    <li>Chocolate Bar</li>
    <li>Yellow Eraser</li>
    <li>Artist Coins</li>
  </ul>
</section>
