<section class="main">
  <span data-picture="" data-alt="Lounge Coffee">
    <span data-src="../images/320/d22d76a9.lounge_coffee-320.jpg"></span>
    <span data-src="../images/480/e8f9c22e.lounge_coffee-480.jpg" data-media="(min-width: 480px)"></span>
    <span data-src="../images/660/de6a6fc7.lounge_coffee-660.jpg" data-media="(min-width: 660px)"></span>
    <span data-src="../images/770/17747c61.lounge_coffee-770.jpg" data-media="(min-width: 770px)"></span>
    <span data-src="../images/990/7da83d8f.lounge_coffee-990.jpg" data-media="(min-width: 990px)"></span>
  </span>
  <h2 id="heading">
    I move product.
  </h2>

  <h3 class="tagline"><a href="http://www.youtube.com/watch?v=4yYGoO5imyY">Crazy Eddie</a> and Madison Ave. have nothing on me. Ok, I will stop ;) But seriously, we come up with bold and unusual solutions for the advertising problem.</h3>
  <p>
  You need to get your product into your customers' hands. That is done by nothing more than pure magic. No, actually there is a science behind this "magical" process. 
  </p>
  <h2 class="part-title">1 Part : Pure Unadulterated Novelty</h2>
  <p>
  We need to get your product into peoples' minds and have it get stuck up in there. That's the only way they will remember it when they're in shopping mode. How do ya do that? Well. You have to be a kind of wizard who can extract pure novelty out of the ether. And the second best thing is to synthesize novelty by combining two or more things that have never been combined before. It's an art that only few are capable of and we just happen to be one of the few.   
  </p>
  <h2 class="part-title">1 Part : Accessibility</h2>
  <p>
  Of course we also have to stay semi-grounded and coming up with an ad campaign that is in the <a href="https://www.youtube.com/watch?v=3joYVNyyi5w#t=60">Jodorowsky</a> vein obviously won't cut it for 95% of the population. We are a balancing act navigating between the realms of the accessible and absurd. Attaining that sweet spot is the key that we achieve.  
  </p>
  <h2 class="part-title">1 Part : Hypnotic Imagery</h2>
  <p>
  Seductive and hypnotic imagery is the extra boost that drives the product home and locks it into place. It is that last part that combines Accessibility and Pure Unadulterated Novelty. This is the delivery mechanism and whether it be the moving or still image, we will make sure it is a laser focused beautiful, or gross (if we need that), end product.
  </p>
</section>