<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/CHOS-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/CHOS-480.jpg' ], [ '(min-width: 660px)', '/images/660/CHOS-660.jpg' ], [ '(min-width: 770px)', '/images/770/CHOS-770.jpg' ], [ '(min-width: 990px)', '/images/990/CHOS-990.jpg' ] ]" />
  <img src="/images/320/cointelpro-FULL-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/cointelpro-FULL-480.jpg' ], [ '(min-width: 660px)', '/images/660/cointelpro-FULL-660.jpg' ], [ '(min-width: 770px)', '/images/770/cointelpro-FULL-770.jpg' ], [ '(min-width: 990px)', '/images/990/cointelpro-FULL-990.jpg' ] ]" />
  <img src="/images/320/codex-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/codex-480.jpg' ], [ '(min-width: 660px)', '/images/660/codex-660.jpg' ], [ '(min-width: 770px)', '/images/770/codex-770.jpg' ], [ '(min-width: 990px)', '/images/990/codex-990.jpg' ] ]" />
  <img src="/images/320/HAARP-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/HAARP-480.jpg' ], [ '(min-width: 660px)', '/images/660/HAARP-660.jpg' ], [ '(min-width: 770px)', '/images/770/HAARP-770.jpg' ], [ '(min-width: 990px)', '/images/990/HAARP-990.jpg' ] ]" />
  <img src="/images/320/freek-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/freek-480.jpg' ], [ '(min-width: 660px)', '/images/660/freek-660.jpg' ], [ '(min-width: 770px)', '/images/770/freek-770.jpg' ], [ '(min-width: 990px)', '/images/990/freek-990.jpg' ] ]" />
  <h2 class="design-title">Chaos Conspiracies</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2011</h2>
  <br/>
  <p>
  At the time I was listening to a lot of alternative news sources which were discussing conspiracy theories or as they would call them, conspiracy facts. 
  </p>
</section>


