<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/WIP-creations_return-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/WIP-creations_return-480.jpg' ], [ '(min-width: 660px)', '/images/660/WIP-creations_return-660.jpg' ], [ '(min-width: 770px)', '/images/770/WIP-creations_return-770.jpg' ], [ '(min-width: 990px)', '/images/990/WIP-creations_return-990.jpg' ] ]" />
  <img src="/images/320/WIP-interactions-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/WIP-interactions-480.jpg' ], [ '(min-width: 660px)', '/images/660/WIP-interactions-660.jpg' ], [ '(min-width: 770px)', '/images/770/WIP-interactions-770.jpg' ], [ '(min-width: 990px)', '/images/990/WIP-interactions-990.jpg' ] ]" />
  <img src="/images/320/WIP-frustrate-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/WIP-frustrate-480.jpg' ], [ '(min-width: 660px)', '/images/660/WIP-frustrate-660.jpg' ], [ '(min-width: 770px)', '/images/770/WIP-frustrate-770.jpg' ], [ '(min-width: 990px)', '/images/990/WIP-frustrate-990.jpg' ] ]" />
  <img src="/images/320/WIP-butter-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/WIP-butter-480.jpg' ], [ '(min-width: 660px)', '/images/660/WIP-butter-660.jpg' ], [ '(min-width: 770px)', '/images/770/WIP-butter-770.jpg' ], [ '(min-width: 990px)', '/images/990/WIP-butter-990.jpg' ] ]" />
  <img src="/images/320/WIP-butter2-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/WIP-butter2-480.jpg' ], [ '(min-width: 660px)', '/images/660/WIP-butter2-660.jpg' ], [ '(min-width: 770px)', '/images/770/WIP-butter2-770.jpg' ], [ '(min-width: 990px)', '/images/990/WIP-butter2-990.jpg' ] ]" />
  <h2 class="design-title">Cloudsick</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2010</h2>
  <br/>
  <p>
  I started to experiment with fast sketching cartoons. I would draw each character in light lines and very fast. It would take about 15 to 30 seconds per character. Then I would render meticulous details, like shadows, wounds and skin folds, over this quick sketch. That rendering process would take hours. In the end innocence is combined with evil.
  </p>
</section>
