<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/FAME_Logo-FIN_Black-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/FAME_Logo-FIN_Black-480.jpg' ], [ '(min-width: 660px)', '/images/660/FAME_Logo-FIN_Black-660.jpg' ], [ '(min-width: 770px)', '/images/770/FAME_Logo-FIN_Black-770.jpg' ], [ '(min-width: 990px)', '/images/990/FAME_Logo-FIN_Black-990.jpg' ] ]" />
  <h3 class="image-group-title">First Design Iteration</h3>
  <img src="/images/320/FAME_Logo-1st_phase-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/FAME_Logo-1st_phase-480.jpg' ], [ '(min-width: 660px)', '/images/660/FAME_Logo-1st_phase-660.jpg' ], [ '(min-width: 770px)', '/images/770/FAME_Logo-1st_phase-770.jpg' ], [ '(min-width: 990px)', '/images/990/FAME_Logo-1st_phase-990.jpg' ] ]" />
  <h3 class="image-group-title">Second Design Iteration</h3>
  <img src="/images/320/FAME_Logo-2nd_phase-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/FAME_Logo-2nd_phase-480.jpg' ], [ '(min-width: 660px)', '/images/660/FAME_Logo-2nd_phase-660.jpg' ], [ '(min-width: 770px)', '/images/770/FAME_Logo-2nd_phase-770.jpg' ], [ '(min-width: 990px)', '/images/990/FAME_Logo-2nd_phase-990.jpg' ] ]" />
  <h2 class="design-title">F.A.M.E. Logo</h2>
  <h2 class="client">Max Kane of F.A.M.E. (Fresh Analog Music Experience)<h2>
  <h2 class="year">2009</h2>
  <br/>
  <p>
  <b>F.A.M.E.</b> a.k.a. Fresh Analog Music Experience is a live electronic funk band out of L.A., CA. consisting of <a target="_blank" href="https://twitter.com/maxkane">Max Kane</a>, <a target="_blank" href="https://twitter.com/TeekoMusic">Teeko</a> and <a target="_blank" href="https://myspace.com/mightymalaguti">Malaguti</a>. Producer, DJ and performer Max Kane, one third of F.A.M.E., contacted me to do a logo for the band after seeing the logo I designed for Dam Funk's 2009 Stones Throw release, <b>Toeachizown</b>. After playing around with a few basic concepts I finally arrived at a minimal, futuristic logo that appeared on their self released album <a target="_blank" href="http://www.beatsncrates.com/2009/12/f-a-m-e-truthpics/">TruthPics</a>
  </p>
</section>

