<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/FS-Logo-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/FS-Logo-480.jpg' ], [ '(min-width: 660px)', '/images/660/FS-Logo-660.jpg' ], [ '(min-width: 770px)', '/images/770/FS-Logo-770.jpg' ], [ '(min-width: 990px)', '/images/990/FS-Logo-990.jpg' ] ]" />
  <h3 class="image-group-title">The Prototypes That Didn't Make the Cut</h3>
  <img src="/images/320/FS_Logo_GOLD-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/FS_Logo_GOLD-480.jpg' ], [ '(min-width: 660px)', '/images/660/FS_Logo_GOLD-660.jpg' ], [ '(min-width: 770px)', '/images/770/FS_Logo_GOLD-770.jpg' ], [ '(min-width: 990px)', '/images/990/FS_Logo_GOLD-990.jpg' ] ]" />
  <img src="/images/320/FS_Logo_simple-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/FS_Logo_simple-480.jpg' ], [ '(min-width: 660px)', '/images/660/FS_Logo_simple-660.jpg' ], [ '(min-width: 770px)', '/images/770/FS_Logo_simple-770.jpg' ], [ '(min-width: 990px)', '/images/990/FS_Logo_simple-990.jpg' ] ]" />
  <img src="/images/320/FS_Logo_Spectrum-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/FS_Logo_Spectrum-480.jpg' ], [ '(min-width: 660px)', '/images/660/FS_Logo_Spectrum-660.jpg' ], [ '(min-width: 770px)', '/images/770/FS_Logo_Spectrum-770.jpg' ], [ '(min-width: 990px)', '/images/990/FS_Logo_Spectrum-990.jpg' ] ]" />
  <h2 class="design-title">Future Shock Logo</h2>
  <h2 class="client">Ray Gun from Future Shock<h2>
  <h2 class="year">2012</h2>
  <br/>
  <p>
  Ray Gun from the band Future Shock contacted me after seeing my 2012 redesign of <a target="_blank" href="https://twitter.com/DaMFunK">Dam-Funk's</a> logo and wanted me to work on their logo. Unfortunately Ray Gun and Future Shock seemed to disappear from the Internet all together. Oh well! I still think the final design and the earlier prototypes are worth representing on this here site. 
  </p>
</section>

