<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/I_IS_PATH-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/I_IS_PATH-480.jpg' ], [ '(min-width: 660px)', '/images/660/I_IS_PATH-660.jpg' ], [ '(min-width: 770px)', '/images/770/I_IS_PATH-770.jpg' ], [ '(min-width: 990px)', '/images/990/I_IS_PATH-990.jpg' ] ]" />
  <img class="img-4-wide" src="/images/320/I_IS_PATH-head-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/I_IS_PATH-head-480.jpg' ]]" />
  <img class="img-4-wide" src="/images/320/I_IS_PATH-body-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/I_IS_PATH-body-480.jpg' ]]" />
  <h2 class="design-title">I IS THE PATH</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2012</h2>
  <br/>
  <p>
  This is basically a stream of consciousness piece which I still have not fully decoded. The basic idea is that the character is creating his own path. Like he is wheeling out from the cart he is pulling but there is a twist. The path he is walking on splits into two paths that are looped. The bottom surface becomes the top surface. Lots of meaning in that I bet but it gets confusing. Metaphysical. And the path accordions up in the cart but it also looks like the path may lead into the character himself because of the displacement of his hoodie. Like it is coming out of his back or his soul. Also his hoodie has an image of a single person with arms stretched out wide in the forest. I see the person as cultivating energy via something like Qi Gong. He is also looking at the viewer as if he was caught in the act but doesn't care so much. What about the feet under the path. Walking paths? I get tripped up on the direction part. I'll write more on this one later. 
  </p>
</section>

