<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/lounge_coffee-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/lounge_coffee-480.jpg' ], [ '(min-width: 660px)', '/images/660/lounge_coffee-660.jpg' ], [ '(min-width: 770px)', '/images/770/lounge_coffee-770.jpg' ], [ '(min-width: 990px)', '/images/990/lounge_coffee-990.jpg' ] ]" />
  <h2 class="design-title">Lounge Coffee</h2>
  <h2 class="client">Lemy Leopard x Laëtitia Dana<h2>
  <h2 class="year">2012</h2>
  <br/>
  <p>
  <a target="_blank" href="https://www.facebook.com/LemyLeopard">Lemy Leopard</a> told me about his collaboration with <a target="_blank" href="http://www.laetitia-dana.com/">Laëtitia Dana</a> named <a target="_blank" href="https://soundcloud.com/lounge-coffee">Lounge Coffee</a> in late 2012. Set to be a self titled EP, Lounge Coffee would be a deep vocal house record. Since it was a digital release only, just the front cover art needed to be designed and I got on it right away. Lemy and Laëtitia wanted the cover art to be of a loungy vibe with earthy, coffee tones yet it also had to reflect dance and house music. Mission successful! 
  </p>
</section>

