<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/RAVERS-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/RAVERS-480.jpg' ], [ '(min-width: 660px)', '/images/660/RAVERS-660.jpg' ], [ '(min-width: 770px)', '/images/770/RAVERS-770.jpg' ], [ '(min-width: 990px)', '/images/990/RAVERS-990.jpg' ] ]" />
  <h3 class="image-group-title">RAVERz : Details</h3>
  <img src="/images/320/RAVERS_1-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/RAVERS_1-480.jpg' ], [ '(min-width: 660px)', '/images/660/RAVERS_1-660.jpg' ], [ '(min-width: 770px)', '/images/770/RAVERS_1-770.jpg' ], [ '(min-width: 990px)', '/images/990/RAVERS_1-990.jpg' ] ]" />
  <img src="/images/320/RAVERS_2-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/RAVERS_2-480.jpg' ], [ '(min-width: 660px)', '/images/660/RAVERS_2-660.jpg' ], [ '(min-width: 770px)', '/images/770/RAVERS_2-770.jpg' ], [ '(min-width: 990px)', '/images/990/RAVERS_2-990.jpg' ] ]" />
  <img src="/images/320/RAVERS_3-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/RAVERS_3-480.jpg' ], [ '(min-width: 660px)', '/images/660/RAVERS_3-660.jpg' ], [ '(min-width: 770px)', '/images/770/RAVERS_3-770.jpg' ], [ '(min-width: 990px)', '/images/990/RAVERS_3-990.jpg' ] ]" />
  <img src="/images/320/RAVERS_4-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/RAVERS_4-480.jpg' ], [ '(min-width: 660px)', '/images/660/RAVERS_4-660.jpg' ], [ '(min-width: 770px)', '/images/770/RAVERS_4-770.jpg' ], [ '(min-width: 990px)', '/images/990/RAVERS_4-990.jpg' ] ]" />
  <img src="/images/320/RAVERS_5-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/RAVERS_5-480.jpg' ], [ '(min-width: 660px)', '/images/660/RAVERS_5-660.jpg' ], [ '(min-width: 770px)', '/images/770/RAVERS_5-770.jpg' ], [ '(min-width: 990px)', '/images/990/RAVERS_5-990.jpg' ] ]" />
  <h2 class="design-title">RAVERz</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2012</h2>
  <br/>
  <p>
  These characters are a a result of me testing out my new knowledge of how to do mesh gradients in Illustrator. Super powerful technique but can get complicated if not impossible with more complex shapes. 
  </p>
</section>
