<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/Yellers-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/Yellers-480.jpg' ], [ '(min-width: 660px)', '/images/660/Yellers-660.jpg' ], [ '(min-width: 770px)', '/images/770/Yellers-770.jpg' ], [ '(min-width: 990px)', '/images/990/Yellers-990.jpg' ] ]" />
  <h3 class="image-group-title">The Yellers : Details</h3>
  <img class="img-4-wide" src="/images/320/Yellers-Limon_Jack-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/Yellers-Limon_Jack-480.jpg' ]]" />
  <img class="img-4-wide" src="/images/320/Yellers-Invisor-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/Yellers-Invisor-480.jpg' ]]" />
  <img class="img-4-wide" src="/images/320/Yellers-Henry_Tricut-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/Yellers-Henry_Tricut-480.jpg' ]]" />
  <img class="img-4-wide" src="/images/320/Yellers-Diamond_Head-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/Yellers-Diamond_Head-480.jpg' ]]" />
  <img class="img-4-wide" src="/images/320/Yellers-Chicken_Tucker-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/Yellers-Chicken_Tucker-480.jpg' ]]" />
  <img class="img-4-wide" src="/images/320/Yellers-WORMO-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/Yellers-WORMO-480.jpg' ]]" />
  <h2 class="design-title">The Yellers</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2012</h2>
  <br/>
  <p>
  The Yellers were originally just a bunch of well formed doodles. Solid line pencil sketches scanned in and colored in Photoshop. The transparency grid in Photoshop looked so nice behind these characters that I decided to keep it as part of the image.  
  </p>
</section>

