<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/TROONS_Butters-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/TROONS_Butters-480.jpg' ], [ '(min-width: 660px)', '/images/660/TROONS_Butters-660.jpg' ], [ '(min-width: 770px)', '/images/770/TROONS_Butters-770.jpg' ], [ '(min-width: 990px)', '/images/990/TROONS_Butters-990.jpg' ] ]" />
  <h3 class="image-group-title">TROONz Details</h3>
  <img src="/images/320/TROONz_1-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/TROONz_1-480.jpg' ], [ '(min-width: 660px)', '/images/660/TROONz_1-660.jpg' ], [ '(min-width: 770px)', '/images/770/TROONz_1-770.jpg' ], [ '(min-width: 990px)', '/images/990/TROONz_1-990.jpg' ] ]" />
  <img src="/images/320/TROONz_2-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/TROONz_2-480.jpg' ], [ '(min-width: 660px)', '/images/660/TROONz_2-660.jpg' ], [ '(min-width: 770px)', '/images/770/TROONz_2-770.jpg' ], [ '(min-width: 990px)', '/images/990/TROONz_2-990.jpg' ] ]" />
  <img class="img-4-wide" src="/images/160/TROONz_BIG_1-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/TROONz_BIG_1-320.jpg' ], [ '(min-width: 660px)', '/images/480/TROONz_BIG_1-490.jpg' ]]" />
  <img class="img-4-wide" src="/images/160/TROONz_BIG_2-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/TROONz_BIG_2-320.jpg' ], [ '(min-width: 660px)', '/images/480/TROONz_BIG_2-490.jpg' ]]" />
  <img class="img-4-wide" src="/images/160/TROONz_BIG_3-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/TROONz_BIG_3-320.jpg' ], [ '(min-width: 660px)', '/images/480/TROONz_BIG_3-490.jpg' ]]" />
  <img class="img-4-wide" src="/images/160/TROONz_BIG_4-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/TROONz_BIG_4-320.jpg' ], [ '(min-width: 660px)', '/images/480/TROONz_BIG_4-490.jpg' ]]" />
  <h2 class="design-title">TROONz Wallpaper</h2>
  <h2 class="client">TROONz<h2>
  <h2 class="year">2012</h2>
  <br/>
  <p>
  TROONz is a cartoon based side project of mine. <a target="_blank" href="https://soundcloud.com/troonz">TROONz</a> is also my dance music a.k.a. Heavy use of samples mixed with electro house. Like hip-hop sensibilities meets electro house. I am also currently in the mock up stages of designing the TROONz website which will feature a shop selling all sorts of TROONz gear like: tees, shorts, caps, sweaters, toys, prints and music.
  </p>
</section>

