<section class="main">
  <h3 class="image-group-title">Fool's Gold Product Concept</h3>
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/FG-Bar-whiteTable-FULL.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/FG_chocolate_bar-FULL.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/FG_bar_yellow_toy.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/KidSister2013-ruff.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/render-group.jpg">


  <h3 class="image-group-title">Flosstradamus PLURNT Logo</h3>
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/320/flosstradamus-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/480/flosstradamus-480.jpg' ], [ '(min-width: 660px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/660/flosstradamus-660.jpg' ], [ '(min-width: 770px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/770/flosstradamus-770.jpg' ], [ '(min-width: 990px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/990/flosstradamus-990.jpg' ] ]">
  
  <h3 class="image-group-title">My 60lden Head</h3>
  <img src="https://farm8.staticflickr.com/7019/6837923225_0c4bfb997c_o.png">
  <img src="____">https://farm8.staticflickr.com/7171/6837922675_844f5e25b2_o.png
  <img src="____">
  <img src="____">
  <img src="____">
  <img src="____">
  
  
  
  <h2 class="design-title">3D Design</h2>
  <h2 class="client">3D Model Product Concepts</h2>
  <h2 class="year">2013</h2>
  <br>
 
  <p>
  Several 3D model renders I made based off of pre-existing logos of Flosstradamus and Fool's Gold Records meant to be product concepts.
  </p>
  
</section>
