<section class="main">


  <h3 class="image-group-title">Designing 3lf Icons : Time-lapse</h3>
  <a href="https://www.youtube.com/watch?v=s86mBDmeYxQ" target="_blank">
    <img src="https://farm8.staticflickr.com/7387/16258299770_080e07688c_o.jpg">
  </a>
  <h3 class="image-group-title">UX Mockups for 3lf Image Sharing Web App</h3>
  
  
  <h4 class="image-group-subz-title">Mobile</h4>
  <img src="https://farm8.staticflickr.com/7425/16235074297_5bd236ffad_k.jpg">
  <img src="https://farm9.staticflickr.com/8593/16235077517_60e9338b04_k.jpg">
  <img src="https://farm9.staticflickr.com/8638/15798494934_8c8b31f39b_k.jpg">
  <img src="https://farm8.staticflickr.com/7388/16419221951_264cf991f4_k.jpg">
  <h4 class="image-group-subz-title">Tablet</h4>
  <img src="https://farm8.staticflickr.com/7447/16233656730_afd7cb8f83_k.jpg">
  <h4 class="image-group-subz-title">Desktop</h4>
  <img src="https://farm8.staticflickr.com/7419/16233657800_9092b0f23a_k.jpg">
  <img src="https://farm9.staticflickr.com/8615/16419222471_785a40168c_k.jpg">
 

  <h2 class="design-title">3lf Image Sharing Web App</h2>
  <h2 class="client">Mockups & Thoughts</h2>
  <h2 class="year">2014 - 2015</h2>
  <br>
 
  <p>
  'Designing 3lf Icons : Time-lapse' video of me designing the 3lf hollow icon set. Some hand drawn mockups my photo sharing app 3lf. 
  </p>
  <p style="margin-bottom: 0.1em; font-weight:bold;" class="client">Thoughts</p>
  <p class="about-info">
    <a href="https://medium.com/@3lfist/ux-of-displaying-images-355fb5c886de" target="_blank">UX of Displaying Images</a>
    <br>
    <a href="https://medium.com/@3lfist/image-galleries-galore-ux-c129d5a8b268" target="_blank">Image Galleries Galore!</a>
  </p>
</section>
