<section class="main">
  <h3 class="image-group-title">UX Mockups for 3lf Image Sharing Web App</h3>
  
  <h4 class="image-group-subz-title">Image View : Mobile State</h4>
  <img src="https://farm9.staticflickr.com/8581/15697789304_05af93c271_o.jpg">
  <img src="https://farm8.staticflickr.com/7550/16132660288_e1f4a2dc82_o.jpg">
  <img src="https://farm8.staticflickr.com/7486/16132823600_dc55c89279_o.jpg">
  <img src="https://farm8.staticflickr.com/7548/16134017299_33a6ca3133_o.jpg">
  <h4 class="image-group-subz-title">Tagging : Mobile State</h4>
  <img src="https://farm8.staticflickr.com/7582/16318426601_e57db265cf_o.jpg">
  <img src="https://farm8.staticflickr.com/7485/15700326543_69eaff049d_o.jpg">
  <h4 class="image-group-subz-title">Upload : Mobile State</h4>
  <img src="https://farm8.staticflickr.com/7483/16318424301_db9f127ecf_o.jpg">
  <img src="https://farm8.staticflickr.com/7479/16294272906_48f7b83720_o.jpg">
  <h4 class="image-group-subz-title">Collections : Mobile State</h4>
  <img src="https://farm8.staticflickr.com/7465/16319344792_26c0af6a68_o.jpg">
  <img src="https://farm8.staticflickr.com/7545/15697789324_46c6030507_o.jpg">
  <h4 class="image-group-subz-title">Profile Creation : Mobile State</h4>
  <img src="https://farm8.staticflickr.com/7476/15697819114_fc54484b33_o.jpg">
  <h4 class="image-group-subz-title">Profile Creation : Mobile State</h4>
  <img src="https://farm8.staticflickr.com/7476/15697819114_fc54484b33_o.jpg">
  
  <h4 class="image-group-subz-title">Search : Tablet State</h4>
  <img src="https://farm8.staticflickr.com/7492/16319341872_146d3d2a75_o.jpg">
  <h4 class="image-group-subz-title">Video View : Tablet State</h4>
  <img src="https://farm8.staticflickr.com/7547/16294269666_f0922a8f9e_o.jpg">
  <img src="https://farm8.staticflickr.com/7542/15700325563_1e33acd969_o.jpg">
  <h4 class="image-group-subz-title">Image List : Tablet State</h4>
  <img src="https://farm8.staticflickr.com/7544/16134017039_079c713e56_o.jpg">
  <img src="https://farm8.staticflickr.com/7539/16318424171_5c504f8d88_o.jpg">

  
  <h4 class="image-group-subz-title">Sign Up : Desktop State</h4>
  <img src="https://farm9.staticflickr.com/8568/16320215215_283f311bee_o.jpg">
  <img src="https://farm8.staticflickr.com/7581/16134021089_b3ac3af239_o.jpg">
  <img src="https://farm8.staticflickr.com/7502/16294270186_7d693ebaec_o.jpg">
  <img src="https://farm8.staticflickr.com/7502/16294270186_7d693ebaec_o.jpg">   
  <h4 class="image-group-subz-title">Search : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7505/16134019649_9924c24886_o.jpg">
  <img src="https://farm8.staticflickr.com/7475/16294270586_e5552fd89d_o.jpg">
  <h4 class="image-group-subz-title">Video View : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7514/15700324583_89d2e5d324_o.jpg">
  <img src="https://farm8.staticflickr.com/7495/16294270286_5bdc54617c_o.jpg">
  <img src="https://farm8.staticflickr.com/7555/16134019899_c157ba87e6_o.jpg">
  <img src="https://farm8.staticflickr.com/7569/16134354317_4eb67e9bd3_o.jpg">
  <h4 class="image-group-subz-title">Image View : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7569/16134354317_4eb67e9bd3_o.jpg">
  <h4 class="image-group-subz-title">Image List View : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7503/15700328073_52af5b33f0_o.jpg">
  <h4 class="image-group-subz-title">Blog : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7511/16132827560_e4fa2f5039_o.jpg">
  <img src="https://farm8.staticflickr.com/7525/16319344932_fe41279e48_o.jpg">
  <h4 class="image-group-subz-title">Profile Page : Desktop State</h4>
  <img src="https://farm9.staticflickr.com/8613/16134019479_7eb66848b0_o.jpg">
  <h4 class="image-group-subz-title">Core Navigation Bar : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7580/16134354087_784b3ccdde_o.jpg">
  <img src="_____">
  <img src="_____">



  
  
  <h2 class="design-title">UX Design</h2>
  <h2 class="client">Mockups & Thoughts</h2>
  <h2 class="year">2014</h2>
  <br>
 
  <p>
  My thoughts on UX and some mockups I've drawn for my photo sharing app. 
  </p>
  
</section>
