<section class="main">
  <h3 class="image-group-title">UX Mockups for 3lf Image Sharing Web App</h3>
  

  
  <h4 class="image-group-subz-title">Search : Tablet State</h4>
  <img src="https://farm8.staticflickr.com/7492/16319341872_146d3d2a75_o.jpg">
  <h4 class="image-group-subz-title">Image List : Tablet State</h4>
  <img src="https://farm8.staticflickr.com/7544/16134017039_079c713e56_o.jpg">
  <img src="https://farm8.staticflickr.com/7539/16318424171_5c504f8d88_o.jpg">

  
  <h4 class="image-group-subz-title">Sign Up : Desktop State</h4>
  <img src="https://farm9.staticflickr.com/8568/16320215215_283f311bee_o.jpg">
  <img src="https://farm8.staticflickr.com/7581/16134021089_b3ac3af239_o.jpg">
  <img src="https://farm8.staticflickr.com/7502/16294270186_7d693ebaec_o.jpg">
  <img src="https://farm8.staticflickr.com/7502/16294270186_7d693ebaec_o.jpg">   
  <h4 class="image-group-subz-title">Search : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7505/16134019649_9924c24886_o.jpg">
  <img src="https://farm8.staticflickr.com/7475/16294270586_e5552fd89d_o.jpg">
  <h4 class="image-group-subz-title">Image View : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7569/16134354317_4eb67e9bd3_o.jpg">
  <h4 class="image-group-subz-title">Image List View : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7503/15700328073_52af5b33f0_o.jpg">
  <h4 class="image-group-subz-title">Blog : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7511/16132827560_e4fa2f5039_o.jpg">
  <img src="https://farm8.staticflickr.com/7525/16319344932_fe41279e48_o.jpg">
  <h4 class="image-group-subz-title">Profile Page : Desktop State</h4>
  <img src="https://farm9.staticflickr.com/8613/16134019479_7eb66848b0_o.jpg">
  <h4 class="image-group-subz-title">Core Navigation Bar : Desktop State</h4>
  <img src="https://farm8.staticflickr.com/7580/16134354087_784b3ccdde_o.jpg">

  <h2 class="design-title">3lf Image Sharing Web App</h2>
  <h2 class="client">Mockups & Thoughts</h2>
  <h2 class="year">2014 - 2015</h2>
  <br>
 
  <p>
  Some hand drawn mockups my photo sharing app 3lf. 
  </p>
  <p style="margin-bottom: 0.1em; font-weight:bold;" class="client">Posts</p>
  <p class="about-info">
    <a href="https://medium.com/@3lfist/ux-of-displaying-images-355fb5c886de" target="_blank">UX of Displaying Images</a>
    <br>
    <a href="https://medium.com/@3lfist/image-galleries-galore-ux-c129d5a8b268" target="_blank">Image Galleries Galore!</a>
  </p>
</section>
