<section ng-controller="MainCtrl" class="main">

  <h3 class="image-group-title"><a href="http://www.stonesthrow.com/store/album/damfunk/toeachizown" target="_blank">Dam-Funk Logo : TOEACHIZOWN (2009)</a></h3>
  <img class="img-4-wide" src="/images/damfunk/c56576ce.toeachizown_front_1.jpg">
  <img class="img-4-wide" src="/images/damfunk/1fc8f0cf.toeachizown-vol-2-fly.jpg">
  <img class="img-4-wide" src="/images/damfunk/63d96eb8.toeachizown-vol-3-life.jpg">
  <img class="img-4-wide" src="/images/damfunk/2f3478c9.toeachizown-vol-4-hood.jpg">
  <img class="img-4-wide" src="/images/damfunk/b27f01c2.toeachizown-vol-5-sky.jpg">
  <img class="img-4-wide" src="/images/damfunk/5846289e.toeachizown-df-box.jpg">
  <img class="img-4-wide" src="https://farm8.staticflickr.com/7255/7110628333_d62e0a61db_o.jpg">
  <h4 class="image-group-title">Redesign of Dam-Funk's 2009 TOEACHIZOWN Logo for his 2012 Japan Tour</h3>
  <img src="/images/320/faa4412c.DF_Logo_2012_GLOW-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/2fbf4efc.DF_Logo_2012_GLOW-480.jpg' ], [ '(min-width: 660px)', '/images/660/49c2a826.DF_Logo_2012_GLOW-660.jpg' ], [ '(min-width: 770px)', '/images/770/02ef4b29.DF_Logo_2012_GLOW-770.jpg' ], [ '(min-width: 990px)', '/images/990/6590fb7f.DF_Logo_2012_GLOW-990.jpg' ] ]">
  <h4 class="image-group-title"><a href="http://www.freshnessmag.com/2012/11/12/stussy-x-stones-throw-dam-funk-japan-tour-2012-t-shirt/" target="_blank">Stussy x Stones Throw : Dam-Funk Japan Tour Tee (2012)</a></h3>
  <img class="img-4-wide" style="clear:both;" src="/images/damfunk/1c8959da.stussy-stones-throw-dam-funk-japan-tour-2012-FRONT_FULL.jpg">
  <img class="img-4-wide" src="/images/damfunk/34e91eec.stussy-stones-throw-dam-funk-japan-tour-2012-FRONT_DETAIL.jpg">
  <img class="img-4-wide" src="/images/damfunk/2290ca8f.DAMFUNK-StussyJapan Tee-FRONT+BACK.jpg">
  <img class="img-4-wide" src="/images/damfunk/cb715273.dam-funk-osaka-2012-grand-caefe.jpg">
  <h4 class="image-group-title">Dam-Funk DF Logo Tee (2012)</h3>
  <img src="/images/320/99bfa5e1.DF_tee-BLACK-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/37c57989.DF_tee-BLACK-480.jpg' ], [ '(min-width: 660px)', '/images/660/d4b6eaaf.DF_tee-BLACK-660.jpg' ], [ '(min-width: 770px)', '/images/770/57f40d40.DF_tee-BLACK-770.jpg' ], [ '(min-width: 990px)', '/images/990/3db30597.DF_tee-BLACK-990.jpg' ] ]">
  <img src="/images/320/659c6ac8.DF_tee-BURG-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/1982793b.DF_tee-BURG-480.jpg' ], [ '(min-width: 660px)', '/images/660/43eb76d7.DF_tee-BURG-660.jpg' ], [ '(min-width: 770px)', '/images/770/2a98b3b0.DF_tee-BURG-770.jpg' ], [ '(min-width: 990px)', '/images/990/b6b35be8.DF_tee-BURG-990.jpg' ] ]">
  <a target="_blank" href="http://damfunk.bigcartel.com/product/black-df-urban-classics-shirt">
    <img class="img-4-wide" src="/images/320/bac2fe35.DF_logo_tee_bigcartel-BLACK-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/697da186.DF_logo_tee_bigcartel-BLACK-480.jpg' ]]">
  </a>
  <a target="_blank" href="http://damfunk.bigcartel.com/product/burgundy-df-american-apparel-shirt">
    <img class="img-4-wide" src="/images/320/565b8cd1.DF_logo_tee_bigcartel-BURG-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/523720b8.DF_logo_tee_bigcartel-BURG-480.jpg' ]]">
  </a>
  <img class="img-4-wide" src="/images/damfunk/b38d5e90.Original_DF_logo.png">
  
  <h3 class="image-group-title"><a href="http://www.discogs.com/Various-Vance-Gary-Unhinged/release/4834407" target="_blank">Vance & Gary Unhinged : The Best Show on WFMU Remix Album (2013)</a></h3>
  <img src="/images/320/5cfcfef4.Vance-&-Gary-Unhinged_FRONT-COVER-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/1b804767.Vance-&-Gary-Unhinged_FRONT-COVER-480.jpg' ], [ '(min-width: 660px)', '/images/660/893c0525.Vance-&-Gary-Unhinged_FRONT-COVER-660.jpg' ], [ '(min-width: 770px)', '/images/770/56387c2e.Vance-&-Gary-Unhinged_FRONT-COVER-770.jpg' ], [ '(min-width: 990px)', '/images/990/517525d8.Vance-&-Gary-Unhinged_FRONT-COVER-990.jpg' ] ]">
  <img src="/images/320/76f73c5f.Vance-&-Gary-Unhinged_INSIDE-COVER_credits-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/9355cc3e.Vance-&-Gary-Unhinged_INSIDE-COVER_credits-480.jpg' ], [ '(min-width: 660px)', '/images/660/4afb6c44.Vance-&-Gary-Unhinged_INSIDE-COVER_credits-660.jpg' ], [ '(min-width: 770px)', '/images/770/c072ce05.Vance-&-Gary-Unhinged_INSIDE-COVER_credits-770.jpg' ], [ '(min-width: 990px)', '/images/990/27d1bed6.Vance-&-Gary-Unhinged_INSIDE-COVER_credits-990.jpg' ] ]">
  <img src="/images/320/7b7de584.Vance-&-Gary-Unhinged_BACK-COVER_tracklisting-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/d651f4ef.Vance-&-Gary-Unhinged_BACK-COVER_tracklisting-480.jpg' ], [ '(min-width: 660px)', '/images/660/d6bc9754.Vance-&-Gary-Unhinged_BACK-COVER_tracklisting-660.jpg' ], [ '(min-width: 770px)', '/images/770/7cc68786.Vance-&-Gary-Unhinged_BACK-COVER_tracklisting-770.jpg' ], [ '(min-width: 990px)', '/images/990/6c2fdb37.Vance-&-Gary-Unhinged_BACK-COVER_tracklisting-990.jpg' ] ]">
  
  <h3 class="image-group-title"><a href="http://maxmythic.bandcamp.com/album/culture-blind" target="_blank">Max Mythic : Culture Blind (2012)</a></h3>
  <img src="/images/320/fb885628.MaxMythic_CultureBlind_cover-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/a901b594.MaxMythic_CultureBlind_cover-480.jpg' ], [ '(min-width: 660px)', '/images/660/faead830.MaxMythic_CultureBlind_cover-660.jpg' ], [ '(min-width: 770px)', '/images/770/8ef216f3.MaxMythic_CultureBlind_cover-770.jpg' ], [ '(min-width: 990px)', '/images/990/dbcc5102.MaxMythic_CultureBlind_cover-990.jpg' ] ]">
  
  
  <h3 class="image-group-title"><a href="http://www.qalomotarecords.com/release/streets-of-house/" target="_blank">Lemy Leopard : Streets of House (2012)</a></h3>
  <img src="/images/320/56b53fac.SOH_Front-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c4c8f4d5.SOH_Front-480.jpg' ], [ '(min-width: 660px)', '/images/660/d4b2166e.SOH_Front-660.jpg' ], [ '(min-width: 770px)', '/images/770/94ca012e.SOH_Front-770.jpg' ], [ '(min-width: 990px)', '/images/990/a08c5bf4.SOH_Front-990.jpg' ] ]">
  <img src="/images/320/17239fbe.SOH_Back-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/3dea0cba.SOH_Back-480.jpg' ], [ '(min-width: 660px)', '/images/660/ff4cecdb.SOH_Back-660.jpg' ], [ '(min-width: 770px)', '/images/770/d2f6de03.SOH_Back-770.jpg' ], [ '(min-width: 990px)', '/images/990/7b6423fd.SOH_Back-990.jpg' ] ]">
  <img src="/images/320/3b1085a7.SOH_Back+Front-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/e44acf7d.SOH_Back+Front-480.jpg' ], [ '(min-width: 660px)', '/images/660/e7415638.SOH_Back+Front-660.jpg' ], [ '(min-width: 770px)', '/images/770/d1364346.SOH_Back+Front-770.jpg' ], [ '(min-width: 990px)', '/images/990/05602479.SOH_Back+Front-990.jpg' ] ]">
  <img class="img-4-wide" src="/images/320/4f583d39.SOH_Circle-Sticker_Face-A-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/12f28d86.SOH_Circle-Sticker_Face-A-480.jpg' ], [ '(min-width: 660px)', '/images/660/4c41ef01.SOH_Circle-Sticker_Face-A-660.jpg' ], [ '(min-width: 770px)', '/images/770/aef44d88.SOH_Circle-Sticker_Face-A-770.jpg' ]]">
  <img class="img-4-wide" src="/images/320/d5633338.SOH_Circle-Sticker_Face-B-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/6ae30f08.SOH_Circle-Sticker_Face-B-480.jpg' ], [ '(min-width: 660px)', '/images/660/f126a6e8.SOH_Circle-Sticker_Face-B-660.jpg' ], [ '(min-width: 770px)', '/images/770/3c464980.SOH_Circle-Sticker_Face-B-770.jpg' ]]">
  <img src="/images/320/f0f97acd.LL_Chrome_Glow_1-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/8989a3f5.LL_Chrome_Glow_1-480.jpg' ], [ '(min-width: 660px)', '/images/660/cb63586b.LL_Chrome_Glow_1-660.jpg' ], [ '(min-width: 770px)', '/images/770/a5c8d656.LL_Chrome_Glow_1-770.jpg' ], [ '(min-width: 990px)', '/images/990/88f4e637.LL_Chrome_Glow_1-990.jpg' ] ]">
  <img src="/images/320/ada9a23f.LL_Chrome_Glow_2-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/f5a1246b.LL_Chrome_Glow_2-480.jpg' ], [ '(min-width: 660px)', '/images/660/80bfa9e1.LL_Chrome_Glow_2-660.jpg' ], [ '(min-width: 770px)', '/images/770/e65bc668.LL_Chrome_Glow_2-770.jpg' ], [ '(min-width: 990px)', '/images/990/a2768c59.LL_Chrome_Glow_2-990.jpg' ] ]">
  <img src="/images/320/98336a04.LL_Chrome_Glow_3-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/95847fcb.LL_Chrome_Glow_3-480.jpg' ], [ '(min-width: 660px)', '/images/660/cf1337e7.LL_Chrome_Glow_3-660.jpg' ], [ '(min-width: 770px)', '/images/770/4b3a641f.LL_Chrome_Glow_3-770.jpg' ], [ '(min-width: 990px)', '/images/990/e8033063.LL_Chrome_Glow_3-990.jpg' ] ]">
  
  <a name="lounge-coffee"></a>
  <h3 class="image-group-title">Lemy Leopard x Laëtitia Dana : Lounge Coffee (2012)</h3>
  <img src="/images/320/d22d76a9.lounge_coffee-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/e8f9c22e.lounge_coffee-480.jpg' ], [ '(min-width: 660px)', '/images/660/de6a6fc7.lounge_coffee-660.jpg' ], [ '(min-width: 770px)', '/images/770/17747c61.lounge_coffee-770.jpg' ], [ '(min-width: 990px)', '/images/990/7da83d8f.lounge_coffee-990.jpg' ] ]">

  <a name="future-shock"></a>    
  <h3 class="image-group-title">Future Shock Logo (2012)</h3>
  <img src="/images/320/8c31a56d.FS-Logo-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c813049a.FS-Logo-480.jpg' ], [ '(min-width: 660px)', '/images/660/dfbba04c.FS-Logo-660.jpg' ], [ '(min-width: 770px)', '/images/770/144c94ec.FS-Logo-770.jpg' ], [ '(min-width: 990px)', '/images/990/1cef7cce.FS-Logo-990.jpg' ] ]">
  <img src="/images/320/7f121d79.FS_Logo_GOLD-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/532e2e9b.FS_Logo_GOLD-480.jpg' ], [ '(min-width: 660px)', '/images/660/ca66db97.FS_Logo_GOLD-660.jpg' ], [ '(min-width: 770px)', '/images/770/963271dc.FS_Logo_GOLD-770.jpg' ], [ '(min-width: 990px)', '/images/990/7ceb9b62.FS_Logo_GOLD-990.jpg' ] ]">
  <img src="/images/320/f1c720ed.FS_Logo_simple-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/86e3efe8.FS_Logo_simple-480.jpg' ], [ '(min-width: 660px)', '/images/660/f556e6e9.FS_Logo_simple-660.jpg' ], [ '(min-width: 770px)', '/images/770/733451ea.FS_Logo_simple-770.jpg' ], [ '(min-width: 990px)', '/images/990/8acd2d26.FS_Logo_simple-990.jpg' ] ]">
  <img src="/images/320/696f9503.FS_Logo_Spectrum-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/55861d9c.FS_Logo_Spectrum-480.jpg' ], [ '(min-width: 660px)', '/images/660/b7085a7c.FS_Logo_Spectrum-660.jpg' ], [ '(min-width: 770px)', '/images/770/e117811f.FS_Logo_Spectrum-770.jpg' ], [ '(min-width: 990px)', '/images/990/629a8cf9.FS_Logo_Spectrum-990.jpg' ] ]">

  <a name="fame"></a>    
  <h3 class="image-group-title">F.A.M.E. Logo (2012)</h3>

  <img src="/images/320/9dccb8e0.FAME_Logo-FIN_Black-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/a6de3023.FAME_Logo-FIN_Black-480.jpg' ], [ '(min-width: 660px)', '/images/660/2246f36b.FAME_Logo-FIN_Black-660.jpg' ], [ '(min-width: 770px)', '/images/770/00d85cf2.FAME_Logo-FIN_Black-770.jpg' ], [ '(min-width: 990px)', '/images/990/317d749b.FAME_Logo-FIN_Black-990.jpg' ] ]">
  <img src="/images/320/46b2ec3e.FAME_Logo-1st_phase-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/2e159643.FAME_Logo-1st_phase-480.jpg' ], [ '(min-width: 660px)', '/images/660/155e35b2.FAME_Logo-1st_phase-660.jpg' ], [ '(min-width: 770px)', '/images/770/8525018d.FAME_Logo-1st_phase-770.jpg' ], [ '(min-width: 990px)', '/images/990/cafe2e91.FAME_Logo-1st_phase-990.jpg' ] ]">
  <img src="/images/320/68547789.FAME_Logo-2nd_phase-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c246f821.FAME_Logo-2nd_phase-480.jpg' ], [ '(min-width: 660px)', '/images/660/e9e8e2fd.FAME_Logo-2nd_phase-660.jpg' ], [ '(min-width: 770px)', '/images/770/74be51d5.FAME_Logo-2nd_phase-770.jpg' ], [ '(min-width: 990px)', '/images/990/8ade0f99.FAME_Logo-2nd_phase-990.jpg' ] ]">


  <h3 class="image-group-title">TROONz Logo</h3>
  <img src="https://farm3.staticflickr.com/2928/14530101830_7133f0301f_o.jpg">
  <img src="https://farm6.staticflickr.com/5575/14530119709_d7e2c5c556_o.jpg">
  
  <h3 class="image-group-title">3ambi Logo</h3>
  <img src="https://farm8.staticflickr.com/7462/15945544942_db2afb4bb4_o.png">
  
  <h3 class="image-group-title">h00d</h3>
  <img src="https://farm7.staticflickr.com/6094/7001893225_657280aca9_o.jpg">

  
 
  <h2 class="design-title">Album Art & Logos</h2>
  <h2 class="client">Various Album Covers & Logos</h2>
  <h2 class="year">2009 - 2013</h2>
  <br>
  
  <p>
  Various album covers and musician logos I've designed over the past few years.
  </p>
  <p style="margin-bottom: 0.1em; font-weight:bold;" class="client">Project Links</p>
  <a class="info-links" href="http://www.stonesthrow.com/store/album/damfunk/toeachizown" target="_blank">Dam-Funk Logo : TOEACHIZOWN (2009)</a>
  <a class="info-links" href="http://www.freshnessmag.com/2012/11/12/stussy-x-stones-throw-dam-funk-japan-tour-2012-t-shirt/" target="_blank">Stussy x Stones Throw : Dam-Funk Japan Tour Tee (2012)</a>
  <a class="info-links" href="http://www.discogs.com/Various-Vance-Gary-Unhinged/release/4834407" target="_blank">Vance & Gary Unhinged : The Best Show on WFMU Remix Album (2013)</a>
  <a class="info-links" href="http://maxmythic.bandcamp.com/album/culture-blind" target="_blank">Max Mythic : Culture Blind (2012)</a>
  <a class="info-links" href="http://www.qalomotarecords.com/release/streets-of-house/" target="_blank">Lemy Leopard : Streets of House (2012)</a>
  
  
</section>
