<section ng-controller="MainCtrl" class="main">
  <h3 class="image-group-title">TROONz</h3>
  <img src="/images/320/e25ed2a7.TROONS_Butters-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/4815bd3f.TROONS_Butters-480.jpg' ], [ '(min-width: 660px)', '/images/660/fafe366a.TROONS_Butters-660.jpg' ], [ '(min-width: 770px)', '/images/770/cf11ae8a.TROONS_Butters-770.jpg' ], [ '(min-width: 990px)', '/images/990/08ff54d1.TROONS_Butters-990.jpg' ] ]">
  <img src="/images/320/77a9a755.TROONz_1-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/d40445ec.TROONz_1-480.jpg' ], [ '(min-width: 660px)', '/images/660/67c84f82.TROONz_1-660.jpg' ], [ '(min-width: 770px)', '/images/770/9152261a.TROONz_1-770.jpg' ], [ '(min-width: 990px)', '/images/990/d53aca4e.TROONz_1-990.jpg' ] ]">
  <img src="/images/320/3dc72560.TROONz_2-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/4abed792.TROONz_2-480.jpg' ], [ '(min-width: 660px)', '/images/660/32db64ec.TROONz_2-660.jpg' ], [ '(min-width: 770px)', '/images/770/c45902a1.TROONz_2-770.jpg' ], [ '(min-width: 990px)', '/images/990/78c46b32.TROONz_2-990.jpg' ] ]">
  <img class="img-4-wide" src="/images/160/babfc339.TROONz_BIG_1-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/a89c9d70.TROONz_BIG_1-320.jpg' ], [ '(min-width: 660px)', '/images/480/76c96a50.TROONz_BIG_1-490.jpg' ]]">
  <img class="img-4-wide" src="/images/160/0978e594.TROONz_BIG_2-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/f4b193f4.TROONz_BIG_2-320.jpg' ], [ '(min-width: 660px)', '/images/480/baa57fed.TROONz_BIG_2-490.jpg' ]]">
  <img class="img-4-wide" src="/images/160/2e27df66.TROONz_BIG_3-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/42db9d47.TROONz_BIG_3-320.jpg' ], [ '(min-width: 660px)', '/images/480/bc33d563.TROONz_BIG_3-490.jpg' ]]">
  <img class="img-4-wide" src="/images/160/199f2d9b.TROONz_BIG_4-160.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/320/5371a04d.TROONz_BIG_4-320.jpg' ], [ '(min-width: 660px)', '/images/480/9db40bd4.TROONz_BIG_4-490.jpg' ]]">
  
  <h3 class="image-group-title">Red Hedz</h3>
  <img src="https://farm3.staticflickr.com/2841/8835242260_ea4f8cc394_h.jpg">
  
  <h3 class="image-group-title">The Yellers</h3>
  <img src="/images/320/1e3daea2.Yellers-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c7d2472b.Yellers-480.jpg' ], [ '(min-width: 660px)', '/images/660/73eb8df2.Yellers-660.jpg' ], [ '(min-width: 770px)', '/images/770/03773b0b.Yellers-770.jpg' ], [ '(min-width: 990px)', '/images/990/015c27c0.Yellers-990.jpg' ] ]">
  <img class="img-4-wide" src="/images/320/3506f639.Yellers-Limon_Jack-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/cb91e5c5.Yellers-Limon_Jack-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/b4ecea44.Yellers-Invisor-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/d103944c.Yellers-Invisor-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/47f957b8.Yellers-Henry_Tricut-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/e7db99ba.Yellers-Henry_Tricut-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/ea8f1f6c.Yellers-Diamond_Head-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/52a2e058.Yellers-Diamond_Head-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/9414c6f9.Yellers-Chicken_Tucker-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/30ed6257.Yellers-Chicken_Tucker-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/16a48de1.Yellers-WORMO-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/9f3d3188.Yellers-WORMO-480.jpg' ]]">

  <h3 class="image-group-title">Relationships</h3>
  <img src="/images/320/b64db424.Relationships_cartoon-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/bb7a2d01.Relationships_cartoon-480.jpg' ], [ '(min-width: 660px)', '/images/660/f329834a.Relationships_cartoon-660.jpg' ], [ '(min-width: 770px)', '/images/770/c983a631.Relationships_cartoon-770.jpg' ], [ '(min-width: 990px)', '/images/990/ca474fd3.Relationships_cartoon-990.jpg' ] ]">
  <img src="/images/320/1e56f2c1.Relationships_TITLE-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/1e56f2c1.Relationships_TITLE-480.jpg' ], [ '(min-width: 660px)', '/images/660/fd7504da.Relationships_TITLE-660.jpg' ], [ '(min-width: 770px)', '/images/770/8fb1dc90.Relationships_TITLE-770.jpg' ], [ '(min-width: 990px)', '/images/990/20d7f83d.Relationships_TITLE-990.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_1-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c6c07ece.Relationships_1-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_2-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/9a8cf19e.Relationships_2-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_3-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/4b4a7cac.Relationships_3-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_4-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/52bfbdbe.Relationships_4-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_5-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/ce7e20a2.Relationships_5-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_6-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/78ba133b.Relationships_6-480.jpg' ] ]">
   
  <h3 class="image-group-title">Paint Job</h3>
  <img src="/images/320/a1a49a9c.paintjob-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/020b304e.paintjob-480.jpg' ], [ '(min-width: 660px)', '/images/660/84b6082d.paintjob-660.jpg' ], [ '(min-width: 770px)', '/images/770/c335e4b5.paintjob-770.jpg' ], [ '(min-width: 990px)', '/images/990/bab8fd93.paintjob-990.jpg' ] ]">
  <img src="/images/320/16ca2a39.paintjob_BLUEBERRY-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/6153c98a.paintjob_BLUEBERRY-480.jpg' ], [ '(min-width: 660px)', '/images/660/a842754c.paintjob_BLUEBERRY-660.jpg' ], [ '(min-width: 770px)', '/images/770/860f8f7f.paintjob_BLUEBERRY-770.jpg' ], [ '(min-width: 990px)', '/images/990/e56837bf.paintjob_BLUEBERRY-990.jpg' ] ]">

  <h3 class="image-group-title">Nose Hose</h3>
  <img src="https://farm6.staticflickr.com/5553/14714372694_88b8c06be3_o.jpg">
  
  <h2 class="design-title">Cartoons</h2>
  <h2 class="client">A Variety of Cartoons</h2>
  <h2 class="year">2010 - 2013</h2>
  <br>
  <p>
  A variety of cartoons I've created over the past few years.
  </p>
</section>
