<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/fb885628.MaxMythic_CultureBlind_cover-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/a901b594.MaxMythic_CultureBlind_cover-480.jpg' ], [ '(min-width: 660px)', '/images/660/faead830.MaxMythic_CultureBlind_cover-660.jpg' ], [ '(min-width: 770px)', '/images/770/8ef216f3.MaxMythic_CultureBlind_cover-770.jpg' ], [ '(min-width: 990px)', '/images/990/dbcc5102.MaxMythic_CultureBlind_cover-990.jpg' ] ]">
  <h2 class="design-title">Max Mythic : Culture Blind</h2>
  <h2 class="client">Max Mythic</h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  In the spring of 2012 I once again got super inspired by the work of J Dilla and Madlib and decided to start producing very sample based music over the course of a few months. The result was a collection of 30 tracks which I called <a target="_blank" href="http://maxmythic.bandcamp.com/album/culture-blind"><b>Culture Blind</b></a>. 
  </p>
  <p>
  Of course I needed a logo and art work for it so I decided to so I got to work 3d modelling this particular Max Mythic logo. Since this was my own personal project I was able to experiment quite a bit more than usual. I played around with some new techniques in my 3D software and out came thisshiny, rubber goo Max Mythic logo which seems to emerge from the void behind it.
  </p>
  <p>
  I wanted the title "Culture Blind" to reflect it's meaning so I made it invisible to viewers by encoding it in braille. The title also reflected the idea of how purposefully blind modern music and entertainment culture is to the pressing issues of our day. It also reflects an inner desire of mine which is that I often wish I was blind to cultural influences so I can be a more pure, untainted thinker. To be safe and protected from the physical and digital cultural envelope which seems to always surround and influence me.
  </p>
  <p>
    <a target="_blank" href="http://maxmythic.bandcamp.com/album/culture-blind">Max Mythic : Culture Blind at Bandcamp</a>
  </p>
</section>
