<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/faa4412c.DF_Logo_2012_GLOW-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/2fbf4efc.DF_Logo_2012_GLOW-480.jpg' ], [ '(min-width: 660px)', '/images/660/49c2a826.DF_Logo_2012_GLOW-660.jpg' ], [ '(min-width: 770px)', '/images/770/02ef4b29.DF_Logo_2012_GLOW-770.jpg' ], [ '(min-width: 990px)', '/images/990/6590fb7f.DF_Logo_2012_GLOW-990.jpg' ] ]">
  <h3 class="image-group-title">Toechizown Dam-Funk Logo</h3>
  <img class="img-4-wide" src="/images/damfunk/c56576ce.toeachizown_front_1.jpg">
  <img class="img-4-wide" src="/images/damfunk/1fc8f0cf.toeachizown-vol-2-fly.jpg">
  <img class="img-4-wide" src="/images/damfunk/63d96eb8.toeachizown-vol-3-life.jpg">
  <img class="img-4-wide" src="/images/damfunk/2f3478c9.toeachizown-vol-4-hood.jpg">
  <img class="img-4-wide" src="/images/damfunk/b27f01c2.toeachizown-vol-5-sky.jpg">
  <img class="img-4-wide" src="/images/damfunk/5846289e.toeachizown-df-box.jpg">

  <h3 class="image-group-title">Stussy x Stones Throw : Dam-Funk Japan Tour Tee</h3>
  <img class="img-4-wide" src="/images/damfunk/1c8959da.stussy-stones-throw-dam-funk-japan-tour-2012-FRONT_FULL.jpg">
  <img class="img-4-wide" src="/images/damfunk/34e91eec.stussy-stones-throw-dam-funk-japan-tour-2012-FRONT_DETAIL.jpg">
  <img class="img-4-wide" src="/images/damfunk/2290ca8f.DAMFUNK-StussyJapan Tee-FRONT+BACK.jpg">
  <img class="img-4-wide" src="/images/damfunk/cb715273.dam-funk-osaka-2012-grand-caefe.jpg">

  <h3 class="image-group-title">Dam-Funk DF Logo Tee</h3>
  <img src="/images/320/99bfa5e1.DF_tee-BLACK-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/37c57989.DF_tee-BLACK-480.jpg' ], [ '(min-width: 660px)', '/images/660/d4b6eaaf.DF_tee-BLACK-660.jpg' ], [ '(min-width: 770px)', '/images/770/57f40d40.DF_tee-BLACK-770.jpg' ], [ '(min-width: 990px)', '/images/990/3db30597.DF_tee-BLACK-990.jpg' ] ]">
  <img src="/images/320/659c6ac8.DF_tee-BURG-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/1982793b.DF_tee-BURG-480.jpg' ], [ '(min-width: 660px)', '/images/660/43eb76d7.DF_tee-BURG-660.jpg' ], [ '(min-width: 770px)', '/images/770/2a98b3b0.DF_tee-BURG-770.jpg' ], [ '(min-width: 990px)', '/images/990/b6b35be8.DF_tee-BURG-990.jpg' ] ]">
  <a target="_blank" href="http://damfunk.bigcartel.com/product/black-df-urban-classics-shirt">
    <img class="img-4-wide" src="/images/320/bac2fe35.DF_logo_tee_bigcartel-BLACK-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/697da186.DF_logo_tee_bigcartel-BLACK-480.jpg' ]]">
  </a>
  <a target="_blank" href="http://damfunk.bigcartel.com/product/burgundy-df-american-apparel-shirt">
    <img class="img-4-wide" src="/images/320/565b8cd1.DF_logo_tee_bigcartel-BURG-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/523720b8.DF_logo_tee_bigcartel-BURG-480.jpg' ]]">
  </a>

  <h3 class="image-group-title">My Original 2009 Dam-Funk Fan Logo</h3>
  <br>
  <img class="img-4-wide" src="/images/damfunk/b38d5e90.Original_DF_logo.png">

  <h2 class="design-title">Dam-Funk Logo</h2>
  <h2 class="client">Dam-Funk & Stones Throw Records</h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  I first heard <a href="http://stonesthrow.com/damfunk" target="_blank">Dam-Funk</a>'s music on Myspace in early 2009 and immediately fell in love with it so I did a logo for him out of my appreciation. He liked it and later that year in the summer, he approached me to do a redesign of the logo for his upcoming debut LP release on Stones Throw called <a target="_blank" href="http://www.stonesthrow.com/store/album/damfunk/toeachizown">Toeachizown</a>. The final logo was taken and used on the album cover which was first released as a 5 LP boxed vinyl set, then on each of the 5 individual vinyl volumes sold separately and lastly on the full-length CD.  
  </p>
  <p>
  Later in 2012 I reconnected with Dam-Funk and slightly redesigned Dam-Funk's Toeachizown logo to color and texture match the first 2009 fan logo I did for him. That original logo had an L.A. sunset image background. Stones Throw took my new redesign and gave it to Stussy Japan to make into a t-shirt and flier to promote Dam-Funk's 2012 Japan tour => <a target="_blank" href="http://stussy.jp/blog/2012/10/20/stones-throw-stussy-present-dam-funk-japan-tour-2012/">STUSSY × STONES THROW : DAM-FUNK JAPAN TOUR TEE</a>. 
  </p>
  <p>
  Additionally Dam-Funk asked if I still had one of the concept designs I made for his 2009 logo. It was a simple D and F side by side. He wanted to use it as a t-shirt design which is now available in his <a target="_blank" href="http://damfunk.bigcartel.com/">online store</a>. 
  </p>
</section>
