<section ng-controller="MainCtrl" class="main">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/320/flosstradamus-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/480/flosstradamus-480.jpg' ], [ '(min-width: 660px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/660/flosstradamus-660.jpg' ], [ '(min-width: 770px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/770/flosstradamus-770.jpg' ], [ '(min-width: 990px)', 'https://raw.github.com/siddhion/maxmythic/master/app/images/990/flosstradamus-990.jpg' ] ]">
  <h2 class="design-title">Flosstradamus PLURNT Logo</h2>
  <h2 class="client">Flosstradamus</h2>
  <h2 class="year">2013</h2>
  <br>
  <p>
  I got in touch with <a href="http://en.wikipedia.org/wiki/Flosstradamus" target="_blank">Flosstradamus</a> showing them my <a href="http://maxmythic.com/design/fools-gold-recs" target="_blank">3Dification of the Fool's Gold Records logo</a>. I basically turned their 2D logo (a gold bar with Fool's Gold on it) into a shiny, realistic, 3D gold bar and created a product concept around it called <a href="https://docs.google.com/document/d/1iawi2BYo6xW0TsqbkrbtJEgD2_NOk7-bIu7y2yJtLdM/edit?usp=sharing" target="_blank">Fool's Gold Mint</a>.
  </p>
  <p>
  The PLURT logo took me a while. In the concept phase I was considering making the logo in a Baroque-esque / Late Renaisance design style with very complicated, flowery, decorative, psychedlic swirls. I tried to make it in my 3D software and realized it would take me forever so I went with a solid, minimalistic and clean design. Made it in super shiny flossed out gold. Included <a href="http://www.urbandictionary.com/define.php?term=Plurnt&amp;defid=7146142"  target="_blank">PLURNT</a> on the triangle's base.
  </p>
  <p>
  The idea was to deconstruct the name Flosstradamus and create an image which represented that. So we have <a href="http://www.urbandictionary.com/define.php?term=floss" target="_blank">Floss</a> which basically means to show off things that appear to be of high value. That is why I chose the marble surface, gold framed embossed velvet pillow (like that of a nations <a href="http://en.wikipedia.org/wiki/Crown_jewels" target="_blank">Crown Jewels</a>) and the gold PLURNT icon resting upon it.
  </p>
  <p>
  I assumed the rest of Flosstradamus's name to have come from <a href="http://en.wikipedia.org/wiki/Nostradamus"  target="_blank">Nostradamus</a> who was the famous prophet who wrote the famous book called Les Propheties (The Prophecies). I chose to emboss that book title across the top of the velvet cushion in the same font used in its original printing.
  </p>
</section>
