<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/8c31a56d.FS-Logo-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c813049a.FS-Logo-480.jpg' ], [ '(min-width: 660px)', '/images/660/dfbba04c.FS-Logo-660.jpg' ], [ '(min-width: 770px)', '/images/770/144c94ec.FS-Logo-770.jpg' ], [ '(min-width: 990px)', '/images/990/1cef7cce.FS-Logo-990.jpg' ] ]">
  <h3 class="image-group-title">The Prototypes That Didn't Make the Cut</h3>
  <img src="/images/320/7f121d79.FS_Logo_GOLD-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/532e2e9b.FS_Logo_GOLD-480.jpg' ], [ '(min-width: 660px)', '/images/660/ca66db97.FS_Logo_GOLD-660.jpg' ], [ '(min-width: 770px)', '/images/770/963271dc.FS_Logo_GOLD-770.jpg' ], [ '(min-width: 990px)', '/images/990/7ceb9b62.FS_Logo_GOLD-990.jpg' ] ]">
  <img src="/images/320/f1c720ed.FS_Logo_simple-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/86e3efe8.FS_Logo_simple-480.jpg' ], [ '(min-width: 660px)', '/images/660/f556e6e9.FS_Logo_simple-660.jpg' ], [ '(min-width: 770px)', '/images/770/733451ea.FS_Logo_simple-770.jpg' ], [ '(min-width: 990px)', '/images/990/8acd2d26.FS_Logo_simple-990.jpg' ] ]">
  <img src="/images/320/696f9503.FS_Logo_Spectrum-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/55861d9c.FS_Logo_Spectrum-480.jpg' ], [ '(min-width: 660px)', '/images/660/b7085a7c.FS_Logo_Spectrum-660.jpg' ], [ '(min-width: 770px)', '/images/770/e117811f.FS_Logo_Spectrum-770.jpg' ], [ '(min-width: 990px)', '/images/990/629a8cf9.FS_Logo_Spectrum-990.jpg' ] ]">
  <h2 class="design-title">Future Shock Logo</h2>
  <h2 class="client">Ray Gun from Future Shock<h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  Ray Gun from the band Future Shock contacted me after seeing my 2012 redesign of <a target="_blank" href="https://twitter.com/DaMFunK">Dam-Funk's</a> logo and wanted me to work on their logo. Unfortunately Ray Gun and Future Shock seemed to disappear from the Internet all together. Oh well! I still think the final design and the earlier prototypes are worth representing on this here site. 
  </p>
</h2></h2></section>