<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/b63f260a.I_IS_PATH-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/a69df0e3.I_IS_PATH-480.jpg' ], [ '(min-width: 660px)', '/images/660/36545310.I_IS_PATH-660.jpg' ], [ '(min-width: 770px)', '/images/770/62f7a748.I_IS_PATH-770.jpg' ], [ '(min-width: 990px)', '/images/990/97d934b7.I_IS_PATH-990.jpg' ] ]">
  <img class="img-4-wide" src="/images/320/c0229606.I_IS_PATH-head-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/cab4804e.I_IS_PATH-head-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/29162d00.I_IS_PATH-body-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/b5f3df6d.I_IS_PATH-body-480.jpg' ]]">
  <h2 class="design-title">I IS THE PATH</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  This is basically a stream of consciousness drawing which I still have not fully decoded. The basic idea I know so far is that the character is creating his own path. As he walks a path which is scrunched up in his cart is being laid. Or is it? Because as you can see, the path is not only being layed but it is also being returned to the cart. Then again, I just assume that he is walking but it's obvious he is just standing there. There is no sign of his body being in motion.
  </p>
  <p>
    Also look at the path that comes from the cart. Its under side is the side he stands on but if you follow it all the way around, you can see that it becomes the top side. The path is upside down and right side up.
  </p>
  <p>
    The wheel doubles as a clock which has a spiral pattern pressed into it indicating that time is infinite or that time is illusionary. 
  </p>
  <p>
    The feet on the underside, or topside, of the path appear to be still until you get to the part of the path where the two sides merge. We see the feet in a walking like motion giving the idea that at least those two feet are in motion but that is also an illusion because the only reason they are in those walking positions is because of the angle of the path from which they emenate from.
  </p>
  <p>
    The character has a long nose indicating he is either a liar or an anteater. He looks to the viewer with wide, slightly fearful eyes while remaining cool. The viewer seems to have caught him in some act that he has to stop. He is slightly like a deer in headlights. His operation can not be observed by the viewer. Perhaps his nose is long indicating he is covering up what he is really doing. He has to lie to protect himself. 
  </p>
  <p>
    His hoodie shows a scene of a humanoid in the forest in a qigong-like position cultivating the ambient energy of its surroundings. A river and a rabbit are there too. Perhaps those are sources of food and water. The trees are the humanoid's shelter.  
  </p>
  <p> 
    In some ways I consider this a self portrait but I still feel I do not fully understand it, or myself.
  </p>
</section>
