<section class="main">
  <iframe width="560" height="315" src="//www.youtube.com/embed/uk8FlCP4VVA" frameborder="0" allowfullscreen></iframe>

  <h2 class="design-title">Nik3 : Rap1d F1r3</h2>
  <h2 class="client">Nike (potentially)</h2>
  <h2 class="year">2015</h2>
  <br>
 
  <p>
  A fast paced ultra short commercial for Nike utilizing the Just Do It slogan in a rapid fire way to show case the different use cases (sports) of Nike products. Ideally this clip could be used as an outro for Nike's Youtube product videos.
  </p>
</section>
