<section class="main">
  <h3 class="image-group-title">Nike : Rap1d Fir3 Micro Commercial (2015)</h3>
  <iframe width="560" height="315" src="//www.youtube.com/embed/uk8FlCP4VVA" frameborder="0" allowfullscreen></iframe>
  
  <h3 class="image-group-title">I Heart UX : Intro & Outro (2014)</h3>
  <iframe width="560" height="315" src="//www.youtube.com/embed/v62PUAeLmrY" frameborder="0" allowfullscreen></iframe>  

  <h3 class="image-group-title">I Heart Ruby (2012)</h3>
  <iframe width="560" height="315" src="//www.youtube.com/embed/T6Xycecz68s" frameborder="0" allowfullscreen></iframe>
  
  <h3 class="image-group-title">Animated Logo (2012)</h3>
  <iframe width="560" height="315" src="//www.youtube.com/embed/QU2LuU8vKfo" frameborder="0" allowfullscreen></iframe>
 
  <h2 class="design-title">Motion Graphics</h2>
  <h2 class="client">Several Small Micro Videos</h2>
  <h2 class="year">2012 - 2015</h2>
  <br>
 
  <p>
  Several small micro videos I made in After Effects and Premiere Pro.
  </p>
</section>
