<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/a1a49a9c.paintjob-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/020b304e.paintjob-480.jpg' ], [ '(min-width: 660px)', '/images/660/84b6082d.paintjob-660.jpg' ], [ '(min-width: 770px)', '/images/770/c335e4b5.paintjob-770.jpg' ], [ '(min-width: 990px)', '/images/990/bab8fd93.paintjob-990.jpg' ] ]">
  <img src="/images/320/16ca2a39.paintjob_BLUEBERRY-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/6153c98a.paintjob_BLUEBERRY-480.jpg' ], [ '(min-width: 660px)', '/images/660/a842754c.paintjob_BLUEBERRY-660.jpg' ], [ '(min-width: 770px)', '/images/770/860f8f7f.paintjob_BLUEBERRY-770.jpg' ], [ '(min-width: 990px)', '/images/990/e56837bf.paintjob_BLUEBERRY-990.jpg' ] ]">
  <h2 class="design-title">Paint Job</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2013</h2>
  <br>
  <p>
  I just sketched something and painted in Photoshop. Minimal cartoon. Simple with out much analysis. Clean.
  </p>
</section>