<section class="main">
  <h3 class="image-group-title">Uncamouflaged</h3>
  <img src="https://farm8.staticflickr.com/7505/15946272995_9f9e06daa0_o.jpg">
  <img src="https://farm8.staticflickr.com/7543/15758842648_cb93c22281_o.jpg">
  <img src="https://farm9.staticflickr.com/8664/15944310951_5a1f95db71_o.jpg">
  <img src="https://farm8.staticflickr.com/7565/15758842478_42e6692dc9_o.jpg">
  <img src="https://farm9.staticflickr.com/8626/15758842598_8c3896383e_o.jpg">
  <img src="https://farm8.staticflickr.com/7464/15944310961_d4631abf3c_o.jpg">
  <img src="https://farm9.staticflickr.com/8562/15946272675_2d386b44ce_o.jpg">
  <img src="https://farm8.staticflickr.com/7538/15326632193_f1f30e33f3_o.jpg">
  <img src="https://farm8.staticflickr.com/7557/15758972500_29267b9bbe_o.jpg">
  <img src="https://farm9.staticflickr.com/8570/15945597442_da5fdd4d5b_o.jpg">
  <img src="https://farm8.staticflickr.com/7574/15920460936_19c9f9090c_o.jpg">

  <h3 class="image-group-title">Devils Tooth</h3>
  <img src="https://farm8.staticflickr.com/7541/16101849988_84fc837a14_o.jpg">
  <img src="https://farm8.staticflickr.com/7513/16289382545_af17a2e4a3_o.jpg">
  <img src="https://farm8.staticflickr.com/7578/15669511223_88cdd4ebe9_o.jpg">
  <img src="https://farm8.staticflickr.com/7470/15669511323_bd5fd83079_o.jpg">
  <img src="https://farm9.staticflickr.com/8683/16102033970_8f8236a6e4_o.jpg">
  <img src="https://farm8.staticflickr.com/7483/16263452676_94fd2362cf_o.jpg">
  <img src="https://farm8.staticflickr.com/7570/15666969244_705aeb3c6e_o.jpg">
  <img src="https://farm9.staticflickr.com/8586/16103522147_58da656454_o.jpg">
  <img src="https://farm8.staticflickr.com/7536/15669511533_09a4987916_o.jpg">
  <img src="https://farm9.staticflickr.com/8629/16263453056_4329b86ac6_o.jpg">
  <img src="https://farm8.staticflickr.com/7523/16289383155_fd475c82cc_o.jpg">
  <img src="https://farm9.staticflickr.com/8578/16101850738_69a1f945ee_o.jpg">

  


  <h2 class="design-title">Patterns</h2>
  <h2 class="client">Humanity</h2>
  <h2 class="year">2014</h2>
  <br>
 
  <p>
  Camoflague and hounds tooth are the most popular patterns in the world. Fun to expand on these strong foundations. Would like to see them on fabric. Maybe curtains or table cloth. 
  </p>
  <p><b>Uncamouflaged</b> Camouflage is used to conceal a solider from enemy sight. What if camouflage could be used to reveal the battlefield truth. To show us what it has seen.</p>
</section>
