<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/a5d93269.Titorito_BLUES-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/3fd7077d.Titorito_BLUES-480.jpg' ], [ '(min-width: 660px)', '/images/660/932ba859.Titorito_BLUES-660.jpg' ], [ '(min-width: 770px)', '/images/770/d002e1c8.Titorito_BLUES-770.jpg' ], [ '(min-width: 990px)', '/images/990/07f4a628.Titorito_BLUES-990.jpg' ] ]">
  <h2 class="design-title">Popr0n</h2>
  <h2 class="client">3ambi</h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  I was approached by an underground painter named 3ambi to come up with some concept designs for a series of pornographic inspired pop art paintings he wanted his team of painters to execute. sHe is big into outsourcing everything sHe does which is not a big deal since sHe doesn't consider hiermself an artist in particular, rather - an artistically inclined entrepreneur. 
  </p>
  <p>
  Anyways, I came up with these pieces which I name Popr0n, the merger between 'Pop' and 'Pr0n'. For those who don't know, '<a target="_blank" href="http://en.wikipedia.org/wiki/Leet">pr0n</a>' means <a target="_blank" href="http://www.urbandictionary.com/define.php?term=pr0n">pornography viewed online or on a computer</a> which is where I got all my source images I used for inspiration. 
  </p>
</section>
