<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/cf2982ec.RAVERS-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/ff2ebde9.RAVERS-480.jpg' ], [ '(min-width: 660px)', '/images/660/9e2f2c25.RAVERS-660.jpg' ], [ '(min-width: 770px)', '/images/770/2e13cc56.RAVERS-770.jpg' ], [ '(min-width: 990px)', '/images/990/1d244744.RAVERS-990.jpg' ] ]">
  <h3 class="image-group-title">RAVERz : Details</h3>
  <img src="/images/320/781ca63f.RAVERS_1-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/e2337190.RAVERS_1-480.jpg' ], [ '(min-width: 660px)', '/images/660/34b6f087.RAVERS_1-660.jpg' ], [ '(min-width: 770px)', '/images/770/caf27c51.RAVERS_1-770.jpg' ], [ '(min-width: 990px)', '/images/990/f40e3769.RAVERS_1-990.jpg' ] ]">
  <img src="/images/320/90fa7b7e.RAVERS_2-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/02e8baf3.RAVERS_2-480.jpg' ], [ '(min-width: 660px)', '/images/660/5d00a7bf.RAVERS_2-660.jpg' ], [ '(min-width: 770px)', '/images/770/da21fbac.RAVERS_2-770.jpg' ], [ '(min-width: 990px)', '/images/990/2aa295ac.RAVERS_2-990.jpg' ] ]">
  <img src="/images/320/9264c587.RAVERS_3-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c81d934e.RAVERS_3-480.jpg' ], [ '(min-width: 660px)', '/images/660/2e19e076.RAVERS_3-660.jpg' ], [ '(min-width: 770px)', '/images/770/50e1450b.RAVERS_3-770.jpg' ], [ '(min-width: 990px)', '/images/990/b69abe04.RAVERS_3-990.jpg' ] ]">
  <img src="/images/320/1081865a.RAVERS_4-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/5bcbcf14.RAVERS_4-480.jpg' ], [ '(min-width: 660px)', '/images/660/2b7f5b5b.RAVERS_4-660.jpg' ], [ '(min-width: 770px)', '/images/770/ff1e4fe1.RAVERS_4-770.jpg' ], [ '(min-width: 990px)', '/images/990/69cecc27.RAVERS_4-990.jpg' ] ]">
  <img src="/images/320/672b42fe.RAVERS_5-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/fa731968.RAVERS_5-480.jpg' ], [ '(min-width: 660px)', '/images/660/91f83fb5.RAVERS_5-660.jpg' ], [ '(min-width: 770px)', '/images/770/ab33d9e7.RAVERS_5-770.jpg' ], [ '(min-width: 990px)', '/images/990/be754dc6.RAVERS_5-990.jpg' ] ]">
  <h2 class="design-title">RAVERz</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  These characters are a a result of me testing out my new knowledge of how to do mesh gradients in Illustrator. Super powerful technique but can get complicated if not impossible with more complex shapes. 
  </p>
</section>