<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/b64db424.Relationships_cartoon-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/bb7a2d01.Relationships_cartoon-480.jpg' ], [ '(min-width: 660px)', '/images/660/f329834a.Relationships_cartoon-660.jpg' ], [ '(min-width: 770px)', '/images/770/c983a631.Relationships_cartoon-770.jpg' ], [ '(min-width: 990px)', '/images/990/ca474fd3.Relationships_cartoon-990.jpg' ] ]">
  <h3 class="image-group-title">Relationships shown as pieces</h3>
  <img src="/images/320/1e56f2c1.Relationships_TITLE-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/1e56f2c1.Relationships_TITLE-480.jpg' ], [ '(min-width: 660px)', '/images/660/fd7504da.Relationships_TITLE-660.jpg' ], [ '(min-width: 770px)', '/images/770/8fb1dc90.Relationships_TITLE-770.jpg' ], [ '(min-width: 990px)', '/images/990/20d7f83d.Relationships_TITLE-990.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_1-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c6c07ece.Relationships_1-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_2-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/9a8cf19e.Relationships_2-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_3-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/4b4a7cac.Relationships_3-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_4-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/52bfbdbe.Relationships_4-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_5-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/ce7e20a2.Relationships_5-480.jpg' ] ]">
  <img class="img-4-wide" images="" 320="" relationships_6-320="" jpg="" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/78ba133b.Relationships_6-480.jpg' ] ]">
  <h2 class="design-title">Relationships</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  One morning in 2012 I woke up and drew this cartoon strip. Some might consider this to be a cynical view on relationships but I do not. Human relationships tend to involve pleasure and pain. I show this duality with each partner ripping the others heart out and eating them while smiling. The ripping out of and eating the heart part represents the energy sucking, vampiric moments that most humans will go through in a relationship. The smiling part represents the pleasant loving moments couples experience in a relationship. I just combined them together in a metaphysical view. Combining polar opposite experiences into one piece. So if you didn't get it before, well, now you do ... or at least I hope you do.
  </p>
</section>
