<section ng-controller="MainCtrl" class="main">
  <img src="/images/320/1e3daea2.Yellers-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/c7d2472b.Yellers-480.jpg' ], [ '(min-width: 660px)', '/images/660/73eb8df2.Yellers-660.jpg' ], [ '(min-width: 770px)', '/images/770/03773b0b.Yellers-770.jpg' ], [ '(min-width: 990px)', '/images/990/015c27c0.Yellers-990.jpg' ] ]">
  <h3 class="image-group-title">The Yellers : Details</h3>
  <img class="img-4-wide" src="/images/320/3506f639.Yellers-Limon_Jack-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/cb91e5c5.Yellers-Limon_Jack-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/b4ecea44.Yellers-Invisor-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/d103944c.Yellers-Invisor-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/47f957b8.Yellers-Henry_Tricut-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/e7db99ba.Yellers-Henry_Tricut-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/ea8f1f6c.Yellers-Diamond_Head-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/52a2e058.Yellers-Diamond_Head-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/9414c6f9.Yellers-Chicken_Tucker-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/30ed6257.Yellers-Chicken_Tucker-480.jpg' ]]">
  <img class="img-4-wide" src="/images/320/16a48de1.Yellers-WORMO-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/9f3d3188.Yellers-WORMO-480.jpg' ]]">
  <h2 class="design-title">The Yellers</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2012</h2>
  <br>
  <p>
  The Yellers were originally just a bunch of well formed doodles. Solid line pencil sketches scanned in and colored in Photoshop. The transparency grid in Photoshop looked so nice behind these characters that I decided to keep it as part of the image.  
  </p>
</section>