<section class="main">
  <img src="https://farm8.staticflickr.com/7557/15758972500_29267b9bbe_o.jpg">
  <img src="https://farm8.staticflickr.com/7505/15946272995_9f9e06daa0_o.jpg">
  <img src="https://farm8.staticflickr.com/7543/15758842648_cb93c22281_o.jpg">
  <img src="___">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/render-group.jpg">

  <h2 class="design-title">Uncamouflaged</h2>
  <h2 class="client">Truth Likers</h2>
  <h2 class="year">2014</h2>
  <br>
 
  <p>
  Camouflage is used to conceal a solider from enemy sight. What if camouflage could be used to reveal the battlefield truth. To show us what it has seen.
  </p>
</section>
