<section class="main">
  <img src="https://farm8.staticflickr.com/7557/15758972500_29267b9bbe_o.jpg">
  <img src="https://farm8.staticflickr.com/7505/15946272995_9f9e06daa0_o.jpg">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/FG_bar_yellow_toy.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/KidSister2013-ruff.png">
  <img src="https://raw.github.com/siddhion/maxmythic/master/app/images/fools-gold/render-group.jpg">

  <h2 class="design-title">Fool's Gold Product Concept</h2>
  <h2 class="client">Fool's Gold Records</h2>
  <h2 class="year">2013</h2>
  <br>
 
  <p>
  Limited edition product concept images for Fool's Gold Records. Google doc detailing the concept products has been sent to A-Trak and Nick Catchdubs for review. 
  </p>
  <ul>
    <li>Real Gold Bar</li>
    <li>Chocolate Bar</li>
    <li>Yellow Eraser</li>
    <li>Artist Coins</li>
  </ul>
</section>
