<section class="main">

  <h3 class="image-group-title">I Heart UX : UX Review Screencast</h3>
  <a href="https://www.youtube.com/watch?v=Mc2-dwDsNwg" target="_blank">
    <img src="https://farm8.staticflickr.com/7322/15825374453_272ee79863_o.jpg">
  </a>

  <h3 class="image-group-title">Variety of Hand Drawn UX Mockups</h3>
  <img src="https://farm8.staticflickr.com/7510/15759027268_94c2849799_o.jpg">
  <img src="https://farm9.staticflickr.com/8581/15945781852_43ea2ea5c5_o.jpg">
  <img src="https://farm9.staticflickr.com/8603/15944496501_89a54207bc_o.jpg">
  <img src="https://farm8.staticflickr.com/7487/15324185184_fd004ac3c1_o.jpg">
  <img src="https://farm8.staticflickr.com/7464/15920650336_f6e449ca4b_o.jpg">
  <img src="https://farm9.staticflickr.com/8673/15326821593_a72f6a0ace_o.jpg">
  <img src="https://farm8.staticflickr.com/7521/15944498581_a70908a764_o.jpg">
  <img src="https://farm9.staticflickr.com/8605/15944498891_760955898f_o.jpg">
  
  <h3 class="image-group-title">Mockup for Music Collaboration App (Photoshop)</h3>
  <img src="https://farm8.staticflickr.com/7497/15326800293_94ff3c0506_o.png">
  <img src="https://farm8.staticflickr.com/7548/15326800353_ef3ebaab4e_o.png">
  <img src="https://farm8.staticflickr.com/7528/15759138930_08de3d3b71_o.png">
  <img src="https://farm8.staticflickr.com/7520/15944477971_3ba25ca41b_o.png">
  <img src="https://farm8.staticflickr.com/7570/15759138970_d6d0649128_o.png">
  
  <h3 class="image-group-title">Mockup for Cyber Security App (Photoshop)</h3>
  <img src="https://farm8.staticflickr.com/7562/15760400549_5183bb389f_o.png">
  <img src="https://farm8.staticflickr.com/7462/15759009858_19101ba2d3_o.png">
  <img src="https://farm8.staticflickr.com/7582/15326800583_83e713d639_o.png">
  <img src="https://farm8.staticflickr.com/7482/15946437405_487cabe265_o.png">
  



  
  
  <h2 class="design-title">UX Design</h2>
  <h2 class="client">Hand Drawn & Photoshop Mockups</h2>
  <h2 class="year">2010-2014</h2>
  <br>
 
  <p>
'I Heart UX' screencast UX review of different websites. Various hand drawn and digital mockups I've done for a variety of projects.
  </p>
  
</section>
