<section ng-controller="MainCtrl" class="main">
  <h3 class="image-group-title">Architech : 2012<h3>
  <img src="/images/320/33c59da5.architech-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/87f09978.architech-480.jpg' ], [ '(min-width: 660px)', '/images/660/1f275173.architech-660.jpg' ], [ '(min-width: 770px)', '/images/770/b5dd62a0.architech-770.jpg' ], [ '(min-width: 990px)', '/images/990/1454f4f2.architech-990.jpg' ] ]">
  <h3 class="image-group-title">Marc Maron the Cat Wrangler : 2012<h3>
  <img src="/images/320/3f388f62.marcat-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/04a9ec8c.marcat-480.jpg' ], [ '(min-width: 660px)', '/images/660/d3c14144.marcat-660.jpg' ], [ '(min-width: 770px)', '/images/770/95cfefc8.marcat-770.jpg' ], [ '(min-width: 990px)', '/images/990/2656e772.marcat-990.jpg' ] ]">
  <h3 class="image-group-title">Fishy Touch : 2010<h3>
  <img src="/images/320/fa39a147.fishytouch-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/4bcc4c7a.fishytouch-480.jpg' ], [ '(min-width: 660px)', '/images/660/f8ac2f28.fishytouch-660.jpg' ], [ '(min-width: 770px)', '/images/770/7a3705a3.fishytouch-770.jpg' ], [ '(min-width: 990px)', '/images/990/dd37bab7.fishytouch-990.jpg' ] ]">
  <h3 class="image-group-title">Squirrel Sew : 2013<h3>
  <img src="/images/320/23689079.squirel_sew-320.jpg" ng-src-responsive="[ [ '(min-width: 480px)', '/images/480/4e713b3f.squirel_sew-480.jpg' ], [ '(min-width: 660px)', '/images/660/870fad12.squirel_sew-660.jpg' ], [ '(min-width: 770px)', '/images/770/bb28db70.squirel_sew-770.jpg' ], [ '(min-width: 990px)', '/images/990/9e6a8497.squirel_sew-990.jpg' ] ]">
  <h2 class="design-title">Various Sketches</h2>
  <h2 class="client">Personal</h2>
  <h2 class="year">2010 - 2013</h2>
  <br>
  <p>
  <b>Architech</b> was a dual sketch image that represented my kind of entry into programming. The top sketch is a picture of someone, me I guess, burning the midnight oil in a frenetic programming session. The bottom image is of a silly interpretation of future in-brain computing technology in which our brains are interfaced with an ultra-fast, nanoscale computer. Silly because I seriously doubt we will have or need a HUD for interfacing with in-brain computers. Rather, we will use <a target="_blank" href="http://maxmythic.blogspot.com/2012/01/death-of-gui.html">pure thought to interface with computers</a>. The only graphic elements we will see is video and images. 
  </p>
  <p>
  <b>Marc Maron the Cat Wrangler</b> was a quick sketch I made after reading Marc's Twitter bio which states he's a 'feral cat wrangler'. While I am not a feral cat wrangler, I do have two felines and relate to Marc's experience living with and interacting with cats. I also often listen to his pod cast, WTF. I uploaded the pic to Twitter and <a href="https://twitter.com/MaxMythic/status/232183819896246273" target="_blank">he retweeted it</a> which was cool.    
  </p>
  <p>
  <b>Fishy Touch</b> is an image I drew back in 2010 which was my representation of <a target="_blank" href="https://soundcloud.com/pixelord">Pixelord's</a> track <a href="https://soundcloud.com/error-broadcast/pixelord-fish-touch">Fishy Touch</a>. 
  </p>
  <p>
  <b>Squirrel Sew</b> is a cryptic drawing. The squirrel is sewing its own leg out of a loop string. Its hood has a 1 & 0 in an infinity sign. 1s and 0s are what programs are made of. Similar to the on and off nature of reality.  Nature and technology merging. Or maybe nature is a form of technology for souls to inhabit. Why is it measuring the distance between its chin to its shoulder? Is it even doing that? And look its eye is a pin hole. Its holding a needle. Did he stab itself a pupil? Or did the needle come from its pupil eye hole? Look at the location of the needle. Is the needle it's penis? Eye sex? I'll stop now. 
  </p>
</h3></h3></h3></h3></h3></h3></section>
