<section class="main">
  <p class="contact">
  If you are interested in working together on your next project whether it be graphic design or web design orientated, drop me an email and we can talk further. I look forward to hearing from you.
  </p>
  <a class="email" target="_blank" href=mailto:"&#109;&#097;&#120;&#109;&#121;&#116;&#104;&#105;&#099;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"> 
    &#109;&#097;&#120;&#109;&#121;&#116;&#104;&#105;&#099;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
  </a>
</section>
